<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hulo.chatwithimaginaryfriends">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="MANAGE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatWithImaginaryFriends"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="allowBackup,supportsRtl">
        <activity android:name="com.hulo.chatwithimaginaryfriends.view.SplashActivity"
            android:theme="@style/Theme.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.hulo.chatwithimaginaryfriends.view.BotActivity"
            android:exported="false" />
        <activity
            android:name="com.hulo.chatwithimaginaryfriends.view.EditFinalReplyActivity"
            android:exported="false" />
        <activity
            android:name="com.hulo.chatwithimaginaryfriends.view.AddEditCharacterActivity"
            android:exported="false" />
        <activity
            android:name="com.hulo.chatwithimaginaryfriends.view.EditInteractionActivity"
            android:exported="false" />
        <activity
            android:name="com.hulo.chatwithimaginaryfriends.view.InteractionActivity"
            android:exported="false" />
        <activity
            android:name="com.hulo.chatwithimaginaryfriends.view.EditHeartActivity"
            android:exported="false" />
        <activity
            android:name="com.hulo.chatwithimaginaryfriends.view.ChatActivity"
            android:exported="false" />
        <activity
            android:name="com.hulo.chatwithimaginaryfriends.view.MainActivity"
            android:exported="false">

        </activity>
    </application>

</manifest>